In [2]:
a=3 #3을 a에 부여한다. 
b=4 #4를 b에 부여한다. 
c=123+456*6 #c에 123+456*6 를 부여한다. 2859가 출력된다. 
a,b,c #변수 a,b,c를 순서대로 출력한다.

(3, 4, 2859)

In [3]:
a+b=c #변수 = 값, 변수 = 수식의 형태로 사용해야한다.

SyntaxError: cannot assign to operator (2145515693.py, line 1)

In [4]:
123+456=a #수식 = 변수는 불가능함.

SyntaxError: cannot assign to operator (1724445175.py, line 1)

In [5]:
a=1 #1을 a에 부여한다. 
a=a+"안녕" #a형이 수치형이기 때문에 애러가 난다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
a="abc" #문자열을 대입하였기 때문에 문자형 변수 a가 된다. 
a=a+"안녕" #a옆에 안녕을 이어 붙인다.
a #abc안녕이 출력된다.

'abc안녕'

In [7]:
a=1 #1을 a에 부여한다.
b=2 #2를 b에 부여한다. 
a,b #a와 b를 순서대로 출력한다.

(1, 2)

In [8]:
a, b=b, a #a,b에 b,a값을 부여한다.
a,b #a, b를 출력한다. 2,1이 출력된다.

(2, 1)

In [9]:
a,b,c,d,e,f=1,2,"안녕","하셔요",3,4 #여러변수의 값을 한번에 대입할 수 있다. 
a,b,c,d,e,f #변수가 순서대로 출력된다.

(1, 2, '안녕', '하셔요', 3, 4)

In [10]:
a=b=1 #a, b에 1을 부여한다. 
a,b #a,b 가 순서대로 출력된다.

(1, 1)

In [11]:
b=2 #b에 2를 부여한다.
a,b #a,b 가 순서대로 출력된다.

(1, 2)

In [12]:
a=b=[1,2,3] #단순변의 경우는 값을 대입하는 형태로 =를 이해가능하지만 컬랙션의 경우 같은 변수를 공유하는 것으로 이해
a,b #a와 b를 출력한다.

([1, 2, 3], [1, 2, 3])

In [13]:
a[1]=4 #a의 1번째가 4이다. 
a,b #a와 b를 출력한다.

([1, 4, 3], [1, 4, 3])

In [14]:
a=[1,2,3,4,5] #리스트 1,2,3,4,5를 a 변수화했다. 
b=a[:]#컬렉션에서 값을 복사하는 경우는 아래와 같이 사용
a,b #a와 그 값을 복사한 b가 순서대로 출력된다.

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [15]:
a[2]=5 #a의 2번째 값을 5로 바꾼다.
a,b#a와 b가 순서대로 출력된다.

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [16]:
import sys #sys를 가져온다. 
a=123 #a=123이라고 정의한다. 
sys.getrefcount(123) #123을 어느 공간에 만들어 놓고 참조하는 방식

74

In [17]:
 b=123;sys.getrefcount(123) #b=123을 만나면 참조횟수가 1 증가한다.

75

In [18]:
c=123;sys.getrefcount(123) #c=123을 만나서 참조횟수가 1 증가한다.

76

In [19]:
1+2*3/4 #일반적인 사칙연산 대로 계산함

2.5

In [20]:
2**3 #거듭제곱은 **

8

In [21]:
10/3 # 나누기는 소수점까지 표시된다.

3.3333333333333335

In [22]:
1e12*123456789012 #유효숫자개념으로 표현

1.23456789012e+23

In [23]:
a=1+2j #복소수 계산
a+(123+12j)#(124+14j)로 출력된다.

(124+14j)

In [24]:
5/2 #5나누기 2로 계산

2.5

In [25]:
5//2 #5나누기 2의 정수값만 출력

2

In [26]:
5%2 #5나누기 2의 나머지값 출력

1

In [27]:
a=1;a=a+1;print(a) #세미클론하고 옆에 이어준다.

2

In [28]:
a=1;a+=1;print(a) #a +=a는 a=1+1 이란 소리

2

In [30]:
a*=2;a #누적 곱하기는 a=a*2로 표시

8

In [31]:
a=1;a-=1;a #a=a-1의 뜻, 0이 출력됨

0

In [32]:
a-=1;a ##0에서 a=a-1의 뜻, -1이 출력됨

-1

In [33]:
a=1
a++ #파이썬에서는 a++의 개념이 없다

SyntaxError: invalid syntax (1378088204.py, line 2)

In [34]:
a-- # a--도 없다.

SyntaxError: invalid syntax (1031813330.py, line 1)

In [45]:
a=+ 1; a #a=a+1의 뜻, 1이 출력됨

1

In [44]:
a=- 1 ;a #a=a-1의 뜻, -1이 출력됨

-1

In [46]:
a="멍멍이" #문자열내용을 a에 부여
b="고양이"#문자열내용을 b에 부여
a+b# a 다음 b가 이어서 출력

'멍멍이고양이'

In [47]:
a*3+b*2 #a가 3번 반복되고 b가 2번 반복되어 출력

'멍멍이멍멍이멍멍이고양이고양이'

In [48]:
"-"*20 #-를 20번 반복 출력

'--------------------'

In [49]:
a=1 #a는 1이다.
b="강아지"+a+"마리" #문자형과 숫자형의 덧셈은 애러이다. 이때 숫자형을 문자형으로 변환하여야한다.

TypeError: can only concatenate str (not "int") to str

In [51]:
b="강아지"+str(a)+"마리"
b #다음과 같이 문자형으로 바꾸는 작업인 str()함수를 사용하여 출력하면 강아지1마리로 출력된다.

'강아지1마리'

In [52]:
ord("가") #문자형을 다루는 ord()함수는 문자의 내부코드값을 반환한다.

44032

In [53]:
hex(ord("a")) #a의 내부코드값을 16진수로 반환한다.

'0x61'

In [54]:
for c in range (ord('a'), ord('z')+1): #a부터 z까지의 내부코드값 안에서 반복한다. 
    print(hex(c),"=",chr(c),", ",end="") #16진수값과 내부코드값을 해당글자로 반환한값을 출력한다.

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [55]:
a= "123"; a+1 #문자열에서 숫자형을 덧셈할 수 없다.

TypeError: can only concatenate str (not "int") to str

In [56]:
a="123"; int(a)+1 #다음과 같이 int형함수로 바꾸어 덧셈을 하여야된다.

124

In [57]:
a=12.3; int(a) #실수를 정수형으로 바꾸어주면 소수점이 버림처리 된다.

12

In [58]:
a="12.3";int(a) #실수형 함수를 사용해야한다.

ValueError: invalid literal for int() with base 10: '12.3'

In [59]:
float(a) #실수형 함수 float()을 사용하였기 때문에 12.3으로 출력될 것이다.

12.3

In [60]:
a=1.1;1+a+12 #실수형과 정수형끼리 덧셈을 할 수 있다.

14.1

In [61]:
1+int(a)+12 #실수를 정수로 바꿔주고 계산하면 소수점이 버려지고 정수 값이 나온다.

14

In [62]:
int(3.14)

3

In [74]:
round(3.14),round(3.14,1),round(123456,-4) #버림계산: 음수는 소수점 이상 해당자리에서 반올림함
#양수는 소수점 이하 해당자리에서 반올림됨.

(3, 3.1, 120000)

In [75]:
int(3.14) #정수형으로 표현, 소수점은 버려진다.

3

In [81]:
print(round(3.14));print(round(3.14,1)); #첫번째는 정수형변환(소수점버림) #두번째는 소수점 1자리 전에 반올림
print(round(123456,-4))#세번째는 첫의 자리에서 반올림한 값을 출력.

3
3.1
120000

In [84]:
a=1234567 #1234567을 a에 부여한다. 
if(a%1000 != 0 ) : #1000으로 나누어 나머지가 있다면
    a=int(a/1000)*1000+1000 #버린값에다 한자리를 올려 줌
else:
    a=int(a/1000)*1000 #아니면 나누어 곱한 그대로 출력한다 
a #a를 출력한다.

1235000