In [2]:
a=10 #변수a에 10을 부여한다.
b=1200 #변수 b에 1200을 부여한다.
c=+1200 #변수 c에 c+1200을 부여한다.
d=-1234 #변수 d에 -1234을 부여한다.
print("a=",a," b=",b, " c=",c, " d=",d) #변수들을 순서대로 출력한다.

a= 10  b= 1200  c= 1200  d= -1234

In [4]:
a=21098134232408921340891340984312089423089341208943120934120894312089 #파이썬은 큰 숫자도 계산이 가능함
b=234412307893421789078903455107893412093412089341208934120894320893421 #자바랑 달리 꽤나 자릿수가 높아도 출력해줌
print("a+b=", a+b)#a+b를 출력한다.

a+b= 255510442125830710419794796092205501516501430550152055055015215205510

In [5]:
0b1010 #0b~~면 2진수 표현법이다.

10

In [6]:
0b1111 #15를 2진수로 나타내도 십진수로 계산해 출력해준다.

15

In [7]:
0b0001 #0001은 1을 2진수로 나타낸 값이다. 이를 출력하면 십진수 1이 나온다

1

In [8]:
0b0201 #0b~~는 2진수기때문에 해당 명령어는 에러가 난다.

SyntaxError: invalid digit '2' in binary literal (4187922823.py, line 1)

In [9]:
0x10 #0x~ 표현하면 뒤에 숫자는 16진수로 나타내준다.

16

In [10]:
0x1a #26을 16진법으로 나타낸 값이다. 이를 출력하면 십진수 26이 나온다.

26

In [11]:
0x3z # 16진법값을 초과하였기 때문에 해당 명령어는 에러가 난다.

SyntaxError: invalid syntax (956256824.py, line 1)

In [13]:
print(hex(12));print(oct(22));print(bin(33))
#hex()은 16진수로 변환한다는 의미
#bin()은 2진수로 변환한다는 의미
#oct()은 8진수로 변환한다는 의미

0xc
0o26
0b100001

In [14]:
9.46e12 #1광년=9조 4600억km 의 표현법

9460000000000.0

In [15]:
9.46e12 + 121312324176834127678963412341298 #실수형과 정수형의 연산을 수행하면
#유효숫자만큼만 표현되는데 주의해야함

1.2131232417683412e+32

In [20]:
a =1 + 2i #허수를 I로 표현하나 파이썬에서는 j로 표현해야한다.

SyntaxError: invalid syntax (3287897822.py, line 1)

In [21]:
a=1+2j #a는 1+2j다. 
b=1-2j #b는 1-2j다.
print(a+b, a*b) # 허수 j로 받아들여 복소수 연산으로 계산된다.

(2+0j) (5+0j)

In [22]:
a="aaa" #문자열 aaa를 변수 a에 부여한다. 
b="bbb" #문자열 bbb를 변수 b에 부여한다. 
a+b #a다음에 b를 이어붇인다.(문자열이기 때문에 이어 붙이는 느낌)

'aaabbb'

In [25]:
a*b#i문자열 변수에 *를 쓰려면 nt형 변수가 와야한다.
#유효하지 않은 명령이다.

TypeError: can't multiply sequence by non-int of type 'str'

In [26]:
a*3 #aaa가 3번 출력된다.

'aaaaaaaaa'

In [27]:
b*5 #b가 5번 출력된다.

'bbbbbbbbbbbbbbb'

In [28]:
print ('호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.')
# 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.가 출력된다.

호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [29]:
 print (" 호랑이가 \"떡하나 주면 안잡아 먹지\" 라고 말했습니다.")
#큰따음표를 출력하려면 작은따음표 안에 큰따음표를 넣어주거나 큰따음표 안에
#역슬래시\하고 큰따음표를 넣어주면 된다.

 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [30]:
print ("I say \"I Love You\"")
#영어도 마찬가지로 큰따음표 안에 문장을 넣을 경우 그 안에 큰따음표는 앞에 
#역슬래시를 해준다.

I say "I Love You"

In [31]:
print ("I say "I Love You"")
#큰따음표 안에 똑같이 큰따음표를 하게 되면 다음과 같이 애러가 난다.

SyntaxError: invalid syntax (3695169677.py, line 1)

In [32]:
print("""오늘 열심히 파이썬을 공부했습니다. 
내일도 열심히 파이썬을 공부할 것입니다. 
그래서 일등할 것입니다""")
#큰따음표 세개를 사용하면 다음 세 개의 따옴표가 나올 때까지 
#줄을 바꾸어서 사용할 수 있다. 단 줄 바뀜이 그대로 표현된다.

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [33]:
a = "오늘은" "즐거운" "일요일"
print(a) #작은 문자열을 나열하여 사용 가능하다. C, Java에서는 허용되지 않는다.

오늘은즐거운일요일

In [34]:
 print("오늘 열심히 파이썬을 공부했습니다. \n"
"내일도 열심히 파이썬을 공부할 것입니다. \n"
"그래서 일등할 것입니다") #컴마, + 기호 없이도 큰따음표로 나눠서 출력가능.

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [36]:
print("오늘 열심히 파이썬을 공부했습니다. \
내일도 열심히 파이썬을 공부할 것입니다. \
그래서 일등할 것입니다") #큰따음표 안에 (\)명령어 연장 방법으로도 표현할 수 있다.

오늘 열심히 파이썬을 공부했습니다. 내일도 열심히 파이썬을 공부할 것입니다. 그래서 일등할 것입니다

In [39]:
#부울대수 연산을 위한 자료형으로 비교문의 기본이다. 
a = True #a는 True이다. 
b = False #b는 False다. 
a and b #a이면서 b여야하는데 둘이 값이 다르므로 False가 출력된다.

False

In [40]:
a or b #a 또는 b이므로 True로 출력된다.

True

In [41]:
a = 0 #0가 a에 부여된다. 
b = a == 0 # a의 값이 0인지 진위여부 
b #b의 값이 출력된다.

True

In [42]:
a= True #a는 true 다 
b= False #b는 false다 
if 1 > 2 and a and b or b or a: #만약 1>2면서 a면서 b이거나 b또는 a면 
    print("참") #참을 출력한다. 
else: #아니면 
    print("거짓") #거짓을 출력한다. 콘솔창에 참이 출력된다.

참

In [43]:
#컬렉션 중 리스트 많이 사용한다. 리스트는 []안에 값을 나열하는 형식 
rainbow = ["빨","주","노","초","파","남","보"]
print(rainbow) #리스트를 출력한다.

['빨', '주', '노', '초', '파', '남', '보']

In [45]:
rainbow =  ["빨강","주황","노랑","초록","파랑","남색","보라"] #리스트안에
#빨강, 주황, 노랑, 초록, 파랑, 남색, 보라를 담는다.

In [47]:
for color in rainbow : #for문으로 하위 명령문을 반복한다. 
    print( color, "색") #rainbow안에 값을 순서대로 출력한다.

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색

In [49]:
#리스트와 유사항 튜플이라는 자료형도 있다.
#튜플은 내용을 바꿀 수 없으며, []대신 ()으로 표시한다.
rainbow = ("빨강","주황","노랑","초록","파랑","남색","보라") #튜플안에 
#빨강, 주황, 노랑, 초록, 파랑, 남색, 보라를 담는다.
for color in rainbow : #for문으로 하위 명령문을 반복한다. 
    print ( color, "색")#rainbow안에 값을 순서대로 출력한다.

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색